*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Florence, cursive;
    color:#F06379;
} 
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(https://i.pinimg.com/736x/68/a7/0d/68a70d7e20670d4bc651bd66917d5c95.jp
}
form {
    height: 999%;
    width: 230%;
    margin: 40px auto;
    padding: 20;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #D1CFE8 ;
}

label {
    margin-left: 50px;
    display: block;
    margin-bottom: 10px;
    text-align: start;
    color: #86A9D3 ;
    
}

input[type="text"], input[type="email"], input[type="tel"], input[type="number"],input[type="dat
    margin-left: 50px;
    width: 70%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: center;
    border-color: rgb(203, 10, 119);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}
input[type="checkbox"] {
    margin-left: 30px;
    margin-right: 30px;
}

input[type="radio"] {
    margin-right: 30px;
    margin-left: 30px;
    
}
form .button{
    width: 50%;
    height: 40px ;
    margin: 40px 0;
    
    }
    form .button input{
        margin-left: 150px;
        width: 90%;
        height: 100%;
        outline: none;
        cursor: pointer;
        background:linear-gradient(130deg,#7990C2,#CCA1C9,#F3A0AD);
        color: rgb(4, 97, 97);
        font-size: 16px;
        font-weight: 300;
        border: none;
        border-radius: 20PX;
    }
    form .button input:hover{
        
        background: linear-gradient(130deg,#9BAED9 ,#E0C4E2, #FFD3D3);
    }
